body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#map {
    width: 100%;
    height: 100%;
    background: #DDD;
}

/* Paramètrage d'affichage du titre */
.titre {
      padding: 6px 8px;
      font: 14px/16px Arial, Helvetica, sans-serif;
      background: white;
      background: rgba(255,255,255,0.9);
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      border-radius: 5px
  }

  .titre h4 {
      margin: 0 0 5px;
      color: #777;
  }

/* Paramètrage d'affichage des attributs en étiquettes */
.etiquette {
    background: none;
    color: white;
    text-shadow: 0px 0px 4px black;
    font-size: 14px;
    font-weight: 600;
    border: 0px;
    box-shadow: none;
}

.etiquette::before {
    border-color: transparent;
}
